$activePriceColor: #2196f3;
$lightShadow: 0 0 15px -10px black;

.trans-filter {
  text-transform: uppercase;
  display: flex;
  padding: 16px 0;
  max-height: 240px;
  width: 200px;
  max-width: 230px;
  min-width: 100px;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  box-sizing: border-box;
  justify-self: end;
  box-shadow: $lightShadow;
  grid-area: trans-filter;
  gap: 8px;
  @media (max-width: 600px) {
    justify-self: center;
    max-width: 400px;
  }
}

.trans-filter__list {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 200;
  text-transform: none;
  display: grid;
  @media (max-width: 600px) {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 2;
    align-items: center;
  }
}

.price-filter {
  width: 100%;
  max-width: 500px;
  height: fit-content;
  box-shadow: $lightShadow;
  grid-area: prices-filter;
  justify-self: start;
}

.price-btn {
  font-size: 12px;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  background-color: white;
  width: 50%;
  height: 45px;
  border: 1px solid rgb(209, 208, 208);
  cursor: pointer;
}

.price-btn:first-of-type {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.price-btn:last-of-type {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.price-btn:hover:not(.active) {
  transform: scale(1.02);
  border-color: #2196f3;
  color: #2196f3;
}

.price-btn.active {
  background-color: #2196f3;
  color: white;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox + label {
  padding: 10px 16px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.checkbox + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #9abbce;
  border-radius: 0.2em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.checkbox:checked + label::before {
  border-color: #0b76ef;
  background-image: url('./Shape.svg');
}

/* стили при наведении курсора на checkbox */
.checkbox + label:hover:not(:disabled) {
  background-color: #f1fcff;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.checkbox:disabled + label::before {
  background-color: #e9ecef;
}
